
<div class="jumbotron">

<div class="container">
<div class="row">
  <div class=" col-md-offset-3 col-md-6">
    <%= image_tag "logo.png", :class => "img-responsive" %>
  </div>
</div>
</div>

  <h1 class="display-3 text-center">LGBTQ Equality!</h1>
	<p class="lead">As of September 2016, it is still legal in 30 states to discriminate against and fire LGBTQ people in the workplace just because of their sexual orientation or gender identity.  This is because there is no federal law to ensure LGBTQ equality in the workplace.</p>
  <hr class="my-4">
<p>Regardless of the federal and state laws of where I do business, I cannot tolerate such discrimination.  Therefore, I pledge, as a business leader and manager:
</p>

<ul>
<li>To practice non-discrimination in the workplace on the basis of sexual orientation and gender identity, and</li>
<li>To advocate against discriminatory policies and actions based on sexual orientation and gender identity in the workplace.</li>
</ul>

<p>I make this pledge because I believe that:

<ul><li>LGBTQ employees are valuable and should have equal protections in the workplace</li>
<li>Fairness and non-discrimination are fundamental to any workplace</li>
<li>Fostering acceptance of diversity returns financial benefits to firms by encouraging full and open participation by all employees</li>
<li>Firms that drive away talented and capable employees are certain to lose their competitive edge in the global marketplace for talent</li>
<li>I am PROUD to stand with my fellow MBA students at UC Berkeley’s Haas School of Business and make this pledge to ensure LGBTQ equality in the workplace.</li></ul>

<br/>
  <p class="lead">
    <a href="/pledge/form" class="btn btn-primary btn-lg" href="#" role="button">Sign the Pledge!</a>
  </p>
</div>



